<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/product.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">截图</th>
          <th scope="col">图片地址</th>
          <th scope="col">车牌号码</th>
          <th scope="col">车辆检测</th>
          <th scope="col">车牌检测</th>
        </tr>
      </thead>
      <tbody>
        <% if (prods.length > 0) { %>
        <% for (let product of prods) { %>
        <tr>
          <th scope="row"> <%= product.id %></th>
          <td> <img class="plateImg" src="/<%= product.imageUrl %>"> </td> 
          <td><%= product.imageUrl %></td>
          <td><%= product.plateNum %></td>
          <td><%= product.checkPlate %></td>
          <td><%= product.checkVehicle %></td>
          <td><a href="/plate/edit/<%= product.id %>?edit=true" target="_blank">编辑</a></td>
        </tr>
        <% } %>
        <% } else { %>
        <h1>No Products Found!</h1>
        <% } %>
      </tbody>
    </table>

  </main>
  <%- include('../includes/end.ejs') %>