<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>
  <%- include('./nav.ejs') %>
  
  <div class="container-fluid">
    <div class="row">
        <%- include('./sideNav.ejs') %>
  
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">职位清单</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <ul class="nav nav-pills">
                <li class="nav-item">
                  <a class="nav-link <%= jobTitle === 'Machine Learning Engineer' ? 'active' : '' %>" href="/admin/mp/jd/1">Machine Learning</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link <%= jobTitle === 'Full Stack Developer' ? 'active' : '' %>" href="/admin/mp/jd/2">Full Stack</a>
                </li>
              </ul>
            <!-- <div class="btn-group mr-2">
              <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div> -->
          </div>
        </div>
  
        <div class="js-doc bg-white">
            <div class="card">
              <div class="card-header">
                <%= jobTitle %>职位信息
              </div>
              <div class="card-body">
                <h5 class="card-title">今日职位推荐</h5>
                <p class="card-text">
  
                  <% if (jds.length > 0) { %>
                  <% for (let jd of jds) { %>
                  <table class="table row mx-0">
                    <thead class="w-100">
                      <tr class="row mx-0">
                        <h5>#<%= jd.index %> <%= jd.title %></h5>
                      </tr>
                    </thead>
                    <tbody class="w-100">
                      <tr class="row mx-0">
                        <th class="col-2"><small class="text-muted">公司</small></th>
                        <td class="col-10"><%= jd.company %> (<%= jd.location %>)</td>
                      </tr>
                      <tr class="row mx-0">
                        <th class="col-2"><small class="text-muted">职位</small></th>
                        <td class="col-10"><%= jd.title %></td>
                      </tr>
                      <tr class="row mx-0">
                        <th class="col-2"><small class="text-muted">申请地址</small></th>
                        <td class="col-10"><%= jd.url %></td>
                      </tr>
                      <tr class="row mx-0">
                        <th class="col-2"><small class="text-muted">职位简介</small></th>
                        <td class="col-10"><%= jd.summary %></td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- /.jd-post -->
                  <% } %>
                  <% } else { %>
                  <h1>No JD Found!</h1>
                  <% } %>
                </p>
              </div>
            </div>
          </div>
      </main>
    </div>
  </div>

<%- include('../includes/end.ejs') %>