<%- include('./includes/head.ejs') %>
</head>

<body>
  <%- include('./includes/navigation.ejs') %>

  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8 blog-main">
        <div class="mp-nav mb-3">
          <span class="jobs-title">Jobs </span>
          <ul class="nav float-right">
            <li class="nav-item">
              <a class="nav-link <%= jobTitle === 'All' ? 'active' : '' %>" href="/">全部</a>
            </li>
            <li class="nav-ge">
              / 
            </li>
            <li class="nav-item">
              <a class="nav-link <%= jobTitle === 'ML' ? 'active' : '' %>" href="/jds/Machine_Learning_Engineer">机器学习</a>
            </li>
            <li class="nav-ge">
              / 
            </li>
            <li class="nav-item">
              <a class="nav-link <%= jobTitle === 'DS' ? 'active' : '' %>" href="/jds/Data_Scientist">数据科学家</a>
            </li>
            <li class="nav-ge">
              / 
            </li>
            <li class="nav-item">
              <a class="nav-link <%= jobTitle === 'FS' ? 'active' : '' %>" href="/jds/Full_Stack_Developer">全栈</a>
            </li>
            <li class="nav-ge">
              / 
            </li>
            <li class="nav-item">
              <a class="nav-link <%= jobTitle === 'BED' ? 'active' : '' %>" href="/jds/Back_End_Developer">后端</a>
            </li>
          </ul>
        </div>
        
        <div class="js-list bg-white">
          <div class="list-group jd-group">
            <% if (jds.length > 0) { %>
              <% for (let jd of jds) { %>
                <a href="<%= jd.url %>" class="jd-card jd-group-item " target="_blank">
                  <div class="row no-gutters">
                    <div class="col-md-2">
                      <img src="/img/jd-company-logo.png" class="card-img jd-company-logo" alt="jd-company-logo">
                    </div>
                    <div class="col-md-10">
                      <div class="d-flex w-100 justify-content-between card-title">
                        <h5 class="mb-1"><%= jd.title %></h5>
                        <small><%= jd.postDate %></small>
                      </div>
                      <p class="mb-1"><%= jd.summary %></p>
                      <small class="text-muted"><%= jd.company %></small> - 
                      <small class="text-muted"><%= jd.location %></small> - 
                      <small class="text-muted"><%= jd.salary %></small>
                    </div>  
                  </div>
                </a> <!-- /.jd-post -->
              <% } %>
            <% } else { %>
              <h1>No Products Found!</h1>
            <% } %>
          </div>
        </div>
      </div><!-- /.jd-main -->

      <aside class="col-md-4 index-sidebar">
        <%- include('./includes/sidebar.ejs') %>

      </aside><!-- /.jd-sidebar -->

    </div><!-- /.row -->

  </main>

  <%- include('./includes/end.ejs') %>