<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main>
    <div class="container">
      <div class="row ">
        <form class="product-form" action="/plate/<% if (editing) { %>edit<% } else { %>add-product<% } %>"
          method="POST">
          <div class="form-group">
            <label for="imageUrl">Plate Image URL</label>
            <input type="text" class="form-control" name="imageUrl" id="imageUrl"
              value="<% if (editing) { %><%= product.imageUrl %><% } %>">
            <small id="imageUrl" class="form-text text-muted">如果图片没有问题，请不要修改.</small>
          </div>
          <div class="form-group">
            <label for="plateNum">Plate Number</label>
            <input type="text" class="form-control" name="plateNum" id="plateNum" value="<% if (editing) { %><%= product.plateNum %><% } %>">
            <small id="plateNum" class="form-text text-muted">请填写，您在图片中，看到的车牌.</small>
          </div>

          <div class="form-group">
            <label for="title">摄像头识别结果</label>
            <div class="form-group">
              <div class="form-check  form-check-inline">
                <input type="checkbox" class="form-check-input" name="checkPlate" id="checkPlate">
                <label class="form-check-label" for="checkPlate">车牌识别成功</label>
              </div>
              <div class="form-check  form-check-inline">
                <input type="checkbox" class="form-check-input" name="checkVehicle" id="checkVehicle">
                <label class="form-check-label" for="checkVehicle">图片种没有车牌</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <% if (editing) { %>
              <input type="hidden" value="<%= product.id %>" name="productId">
            <% } %>
              <button class="btn btn-success" type="submit">
                <% if (editing) { %>Update Product<% } else { %>Add Product<% } %>
              </button>
          </div>
        </form>
      </div>
      <div class="row">
        <td> <img class="plateImgBig" src="/<%= product.imageUrl %>"> </td>
      </div>
    </div>
  </main>
  <%- include('../includes/end.ejs') %>